@{
    ViewBag.Title = "关于我们";
}
<div class="row container-row1">
    <div id="pageID" name="aboutUs" class="pageIdHide"></div>
    <div class="col-md-2">
        <ul class="nav nav-sidebar" id="menuSl" style="max-width:230px;">
            <li class="active"><a href="#">壹优简介 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">企业文化</a></li>
            <li><a href="#">公司战略</a></li>
            <li><a href="#">公司招聘</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">成为供应商</a></li>
            <li><a href="#">成为代理商</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <div class="row">
            <p style="font-size:20px;margin:10px;">
                <br><strong>资质要求</strong><br>
                <small style="margin-left:30px;">
                    为保证平台交易活动合法有序进行，请您提供如下资质：

                    企业法人和供销平台业务负责人的身份证的原件扫描件或复印件；

                    最新有效年检的《企业法人营业执照》副本的原件扫描件，且拟在供销平台开展的经营活动不超过其核准的经营范围；

                    有效《业务经营许可证》的原件扫描件，且拟在供销平台开展的经营活动不超过其许可经营业务范围；

                    企业经营授权书。

                    特别提醒：复印件或原件扫描件均需要加盖申请企业公章。所有须企业盖章的文件上只接受行政公章，不接受电子章、专用章等，合同中可加盖合同专用章。
                </small>


                <br><br><strong>产品要求</strong><br>
                <small style="margin-left:30px;">
                    该产品一手资源批发商；

                    产品在B2b平台采购价须低于或等同于本企业市场上现有的同行结算价；

                    上架产品必须设置最低指导价和市场价，且保证所有在线产品价格与库存实时准确；

                    承诺保证优质的旅游服务接待质量。
                </small>


                <br><br><strong>团队要求</strong><br>
                <small style="margin-left:30px;">申请入驻供应商必须有专门的电商部门对接，有专业的供应商运营团队，且前期运营团队不少于2人，流水到5000W需加1人，依次类推。</small>

            </p>
        </div>
    </div>
</div>	