@Html.Partial("dealerMenu", null)
<div class="col-md-10" style="background-color:#FFF;">
    <div class="container-fluid">
        <div class="row footer-row1" style="padding-top:5px;">
            <form>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-3 control-label padding-txt">单据编号:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group form-group-center" style="padding-top:8px;">
                        <label for="inputPassword" class="col-sm-3 control-label padding-txt">账单状态:</label>
                        <div class="col-sm-9">
                            <select class="form-control" placeholder="Username">
                                <option>已付款</option>
                                <option>未付款</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-3 control-label padding-txt">付款金额:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-1 padding-txt">
                            到
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group form-group-center" style="padding-top:8px;">
                        <label for="inputPassword" class="col-sm-3 control-label padding-txt">账单日期:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-1 padding-txt">
                            到
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">查询</button>
                            <button type="button" class="btn default">导出</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!---投诉列表--->

    <table class="table table-striped">
        <thead>
            <tr>
                <th>时间</th>
                <th>摘要</th>
                <th>单据编号</th>
                <th>采购金额</th>
                <th>收款金额</th>
                <th>销售金额</th>
                <th>付款金额</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2016-05-29 16:21:14</td>
                <td>采购</td>
                <td>SR342342123</td>
                <td>512443.00</td>
                <td>512443.00</td>
                <td>5143.00</td>
                <td>51243.00</td>
                <td>543.00</td>
                <td>查看</td>
            </tr>
        </tbody>
    </table>
</div>