@{
    ViewBag.Title = "兑换商品";
}
<div class="row container-row1">
    <div id="pageID" name="exchangeCommodity" class="pageIdHide"></div>
    <div class="col-md-2 text-center container-row1-commodity">
        <a href="#">
            <img class="defaultImage img-rounded img-responsive" style="height:110px;width:100%;">
        </a>
        <div class="text-center">2015阳澄湖大闸蟹套装</div>
        <button type="button" class="col-md-12 btn btn-danger">我要兑换</button>
    </div>
    <div class="col-md-2 text-center container-row1-commodity">
        <a href="#">
            <img class="defaultImage img-rounded img-responsive" style="height:110px;width:100%;">
        </a>
        <div class="text-center">2015阳澄湖大闸蟹套装</div>
        <button type="button" class="col-md-12 btn btn-danger">我要兑换</button>
    </div>
    <div class="col-md-2 text-center container-row1-commodity">
        <a href="#">
            <img class="defaultImage img-rounded img-responsive" style="height:110px;width:100%;">
        </a>
        <div class="text-center">2015阳澄湖大闸蟹套装</div>
        <button type="button" class="col-md-12 btn btn-danger">我要兑换</button>
    </div>
    <div class="col-md-2 text-center container-row1-commodity">
        <a href="#">
            <img class="defaultImage img-rounded img-responsive" style="height:110px;width:100%;">
        </a>
        <div class="text-center">2015阳澄湖大闸蟹套装</div>
        <button type="button" class="col-md-12 btn btn-danger">我要兑换</button>
    </div>
    <div class="col-md-2 text-center container-row1-commodity">
        <a href="#">
            <img class="defaultImage img-rounded img-responsive" style="height:110px;width:100%;">
        </a>
        <div class="text-center">2015阳澄湖大闸蟹套装</div>
        <button type="button" class="col-md-12 btn btn-danger">我要兑换</button>
    </div>
    <div class="col-md-2 text-center container-row1-commodity">
        <a href="#">
            <img class="defaultImage img-rounded img-responsive" style="height:110px;width:100%;">
        </a>
        <div class="text-center">2015阳澄湖大闸蟹套装</div>
        <button type="button" class="col-md-12 btn btn-danger">我要兑换</button>
    </div>
    <div class="col-md-2 text-center container-row1-commodity">
        <a href="#">
            <img class="defaultImage img-rounded img-responsive" style="height:110px;width:100%;">
        </a>
        <div class="text-center">2015阳澄湖大闸蟹套装</div>
        <button type="button" class="col-md-12 btn btn-danger">我要兑换</button>
    </div>
    <div class="col-md-2 text-center container-row1-commodity">
        <a href="#">
            <img class="defaultImage img-rounded img-responsive" style="height:110px;width:100%;">
        </a>
        <div class="text-center">2015阳澄湖大闸蟹套装</div>
        <button type="button" class="col-md-12 btn btn-danger">我要兑换</button>
    </div>
    <div class="col-md-2 text-center container-row1-commodity">
        <a href="#">
            <img class="defaultImage img-rounded img-responsive" style="height:110px;width:100%;">
        </a>
        <div class="text-center">2015阳澄湖大闸蟹套装</div>
        <button type="button" class="col-md-12 btn btn-danger">我要兑换</button>
    </div>
    <div class="col-md-2 text-center container-row1-commodity">
        <a href="#">
            <img class="defaultImage img-rounded img-responsive" style="height:110px;width:100%;">
        </a>
        <div class="text-center">2015阳澄湖大闸蟹套装</div>
        <button type="button" class="col-md-12 btn btn-danger">我要兑换</button>
    </div>
    <div class="col-md-2 text-center container-row1-commodity">
        <a href="#">
            <img class="defaultImage img-rounded img-responsive" style="height:110px;width:100%;">
        </a>
        <div class="text-center">2015阳澄湖大闸蟹套装</div>
        <button type="button" class="col-md-12 btn btn-danger">我要兑换</button>
    </div>
    <div class="col-md-2 text-center container-row1-commodity">
        <a href="#">
            <img class="defaultImage img-rounded img-responsive" style="height:110px;width:100%;">
        </a>
        <div class="text-center">2015阳澄湖大闸蟹套装</div>
        <button type="button" class="col-md-12 btn btn-danger">我要兑换</button>
    </div>
    <div class="col-md-2 text-center container-row1-commodity">
        <a href="#">
            <img class="defaultImage img-rounded img-responsive" style="height:110px;width:100%;">
        </a>
        <div class="text-center">2015阳澄湖大闸蟹套装</div>
        <button type="button" class="col-md-12 btn btn-danger">我要兑换</button>
    </div>
    <div class="col-md-2 text-center container-row1-commodity">
        <a href="#">
            <img class="defaultImage img-rounded img-responsive" style="height:110px;width:100%;">
        </a>
        <div class="text-center">2015阳澄湖大闸蟹套装</div>
        <button type="button" class="col-md-12 btn btn-danger">我要兑换</button>
    </div>
</div>	