@{
    ViewBag.Title = "首页";
}

<div class="row container-row1">
    <div id="pageID" name="index" class="pageIdHide"></div>
    @*<div class="col-md-2 container-row1-left">
        <a href="#" style="margin-bottom:0px;">
            <img class="defaultImage" style="height:130px;width:100%;margin-top:170px;">
        </a>
    </div>*@
    <div class="col-md-10 container-row1-centre">
        <div id="myCarousel1" class="carousel image-carousel slide">
            <div class="carousel-inner">
                <div class="item">
                    <img src="../image/image1.jpg " class="img-responsive">
                </div>
                <div class="item active">
                    <img src="../image/image2.jpg" class="img-responsive">
                </div>
                <div class="item">
                    <img src="../image/image3.jpg" class="img-responsive">
                </div>
            </div>
            <a class="carousel-control left" href="#myCarousel1" data-slide="prev">
                <i class="m-icon-big-swapleft m-icon-white"></i>
            </a>
            <a class="carousel-control right" href="#myCarousel1" data-slide="next">
                <i class="m-icon-big-swapright m-icon-white"></i>
            </a>
            <ol class="carousel-indicators">
                <li data-target="#myCarousel1" data-slide-to="0" class=""></li>
                <li class="active" data-target="#myCarousel1" data-slide-to="1"></li>
                <li class="" data-target="#myCarousel1" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
    <div class="col-md-2 container-row1-right">
        <div class="row container-row1-right-row1">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <a href="#" style="">
                        <img class="defaultImage" style="height:120px;width:120px;">
                    </a>
                </div>
            </div>
            <div class="row container-row1-right-row1-login">
                <button>用户登录</button>
                <button>注册</button>
                <button>商家登录</button>
            </div>
        </div>
        <div class="row container-row1-right-row2">
            <div class="col-md-8"><b>壹优快报</b></div>
            <div class="col-md-4 container-row1-right-row2-more">更多></div>
            <div class="row container-row1-right-row2-line"></div>
        </div>
        <div class="row container-row1-right-row4">
            <div class="row">[特惠]每满100减掉10</div>
            <div class="row">[公告]新版商城上线</div>
            <div class="row">[特惠]每满200减掉10</div>
        </div>
    </div>
</div>
<!-- 本月推荐 begin -->
<div class="row container-row2">
    <div class="col-md-2 container-row2-left">本月<br>商品推荐</div>
    <div class="col-md-10 container-row2-right">
        <div class="col-md-3">
            <a href="#" style="">
                <img class="defaultImage">
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" style="">
                <img class="defaultImage">
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" style="">
                <img class="defaultImage">
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" style="">
                <img class="defaultImage">
            </a>
        </div>
    </div>
</div>
<!-- 本月推荐 end -->
<!-- 1F begin -->
<div class="row container-row3">
    <div class="portlet light bordered">
        <div class="portlet-title tabbable-line" id="myTab1">
            <div class="caption">
                <i class="icon-pin font-red-lemon"></i>
                <span class="caption-subject bold font-red-lemon uppercase">
                    1F 礼品礼盒
                </span>
                <span class="caption-helper">更多...</span>
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#portlet_tab11" data-toggle="tab">
                        &nbsp&nbsp推荐&nbsp&nbsp
                    </a>
                </li>
                <li>
                    <a href="#portlet_tab12" data-toggle="tab">
                        中秋节礼品
                    </a>
                </li>
                <li>
                    <a href="#portlet_tab13" data-toggle="tab">
                        春节礼品
                    </a>
                </li>
                <li>
                    <a href="#portlet_tab14" data-toggle="tab">
                        端午节礼品
                    </a>
                </li>
                <li>
                    <a href="#portlet_tab15" data-toggle="tab">
                        常规礼品
                    </a>
                </li>
            </ul>
        </div>
        <div class="portlet-body portlet-body-index">
            <div class="tab-content">
                <div class="tab-pane active" id="portlet_tab11">
                    <div class="col-md-3">
                        <div id="myCarousel" class="carousel image-carousel slide">
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="../image/image1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="item active">
                                    <img src="../image/image2.jpg" class="img-responsive" alt="">

                                </div>
                                <div class="item">
                                    <img src="../image/image3.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                                <i class="m-icon-big-swapleft m-icon-white"></i>
                            </a>
                            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                                <i class="m-icon-big-swapright m-icon-white"></i>
                            </a>
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="">
                                </li>
                                <li class="active" data-target="#myCarousel" data-slide-to="1">
                                </li>
                                <li class="" data-target="#myCarousel" data-slide-to="2">
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="~/Home/commodityDetails" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="portlet_tab12">
                    44
                </div>
                <div class="tab-pane" id="portlet_tab13">
                    <div class="col-md-3">
                        <div id="myCarousel" class="carousel image-carousel slide">
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="../image/image1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="item active">
                                    <img src="../image/image2.jpg" class="img-responsive" alt="">

                                </div>
                                <div class="item">
                                    <img src="../image/image3.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                                <i class="m-icon-big-swapleft m-icon-white"></i>
                            </a>
                            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                                <i class="m-icon-big-swapright m-icon-white"></i>
                            </a>
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="">
                                </li>
                                <li class="active" data-target="#myCarousel" data-slide-to="1">
                                </li>
                                <li class="" data-target="#myCarousel" data-slide-to="2">
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="portlet_tab14">
                    22
                </div>
                <div class="tab-pane" id="portlet_tab15">
                    11
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 1F end -->
<!-- 2F begin -->
<div class="row container-row3">
    <div class="portlet light bordered">
        <div class="portlet-title tabbable-line" id="myTab2">
            <div class="caption">
                <i class="icon-pin font-red-lemon"></i>
                <span class="caption-subject bold font-red-lemon uppercase">
                    2F 礼品礼盒
                </span>
                <span class="caption-helper">更多...</span>
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#portlet_tab21" data-toggle="tab">
                        &nbsp&nbsp推荐&nbsp&nbsp
                    </a>
                </li>
                <li>
                    <a href="#portlet_tab22" data-toggle="tab">
                        中秋节礼品
                    </a>
                </li>
                <li>
                    <a href="#portlet_tab23" data-toggle="tab">
                        春节礼品
                    </a>
                </li>
                <li>
                    <a href="#portlet_tab24" data-toggle="tab">
                        端午节礼品
                    </a>
                </li>
                <li>
                    <a href="#portlet_tab25" data-toggle="tab">
                        常规礼品
                    </a>
                </li>
            </ul>
        </div>
        <div class="portlet-body portlet-body-index">
            <div class="tab-content">
                <div class="tab-pane active" id="portlet_tab21">
                    <div class="col-md-3">
                        <div id="myCarousel21" class="carousel image-carousel slide">
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="../image/image1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="item active">
                                    <img src="../image/image2.jpg" class="img-responsive" alt="">

                                </div>
                                <div class="item">
                                    <img src="../image/image3.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#myCarousel21" data-slide="prev">
                                <i class="m-icon-big-swapleft m-icon-white"></i>
                            </a>
                            <a class="carousel-control right" href="#myCarousel21" data-slide="next">
                                <i class="m-icon-big-swapright m-icon-white"></i>
                            </a>
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="">
                                </li>
                                <li class="active" data-target="#myCarousel21" data-slide-to="1">
                                </li>
                                <li class="" data-target="#myCarousel21" data-slide-to="2">
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="portlet_tab22">
                    44
                </div>
                <div class="tab-pane" id="portlet_tab23">
                    <div class="col-md-3">
                        <div id="myCarousel" class="carousel image-carousel slide">
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="../image/image1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="item active">
                                    <img src="../image/image2.jpg" class="img-responsive" alt="">

                                </div>
                                <div class="item">
                                    <img src="../image/image3.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                                <i class="m-icon-big-swapleft m-icon-white"></i>
                            </a>
                            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                                <i class="m-icon-big-swapright m-icon-white"></i>
                            </a>
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="">
                                </li>
                                <li class="active" data-target="#myCarousel" data-slide-to="1">
                                </li>
                                <li class="" data-target="#myCarousel" data-slide-to="2">
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="portlet_tab24">
                    22
                </div>
                <div class="tab-pane" id="portlet_tab25">
                    11
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 2F end -->
<!-- 3F begin -->
<div class="row container-row3">
    <div class="portlet light bordered">
        <div class="portlet-title tabbable-line" id="myTab3">
            <div class="caption">
                <i class="icon-pin font-red-lemon"></i>
                <span class="caption-subject bold font-red-lemon uppercase">
                    3F 中秋月饼
                </span>
                <span class="caption-helper">更多...</span>
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#portlet_tab31" data-toggle="tab">
                        &nbsp&nbsp推荐&nbsp&nbsp
                    </a>
                </li>
                <li>
                    <a href="#portlet_tab32" data-toggle="tab">
                        中秋节礼品
                    </a>
                </li>
                <li>
                    <a href="#portlet_tab33" data-toggle="tab">
                        春节礼品
                    </a>
                </li>
                <li>
                    <a href="#portlet_tab34" data-toggle="tab">
                        端午节礼品
                    </a>
                </li>
                <li>
                    <a href="#portlet_tab35" data-toggle="tab">
                        常规礼品
                    </a>
                </li>
            </ul>
        </div>
        <div class="portlet-body portlet-body-index">
            <div class="tab-content">
                <div class="tab-pane active" id="portlet_tab31">
                    <div class="col-md-3">
                        <div id="myCarousel31" class="carousel image-carousel slide">
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="../image/image1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="item active">
                                    <img src="../image/image2.jpg" class="img-responsive" alt="">

                                </div>
                                <div class="item">
                                    <img src="../image/image3.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#myCarousel31" data-slide="prev">
                                <i class="m-icon-big-swapleft m-icon-white"></i>
                            </a>
                            <a class="carousel-control right" href="#myCarousel31" data-slide="next">
                                <i class="m-icon-big-swapright m-icon-white"></i>
                            </a>
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel31" data-slide-to="0" class="">
                                </li>
                                <li class="active" data-target="#myCarousel31" data-slide-to="1">
                                </li>
                                <li class="" data-target="#myCarousel31" data-slide-to="2">
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="portlet_tab32">
                    44
                </div>
                <div class="tab-pane" id="portlet_tab33">
                    <div class="col-md-3">
                        <div id="myCarousel" class="carousel image-carousel slide">
                            <div class="carousel-inner">
                                <div class="item">
                                    <img src="../image/image1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="item active">
                                    <img src="../image/image2.jpg" class="img-responsive" alt="">

                                </div>
                                <div class="item">
                                    <img src="../image/image3.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                                <i class="m-icon-big-swapleft m-icon-white"></i>
                            </a>
                            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                                <i class="m-icon-big-swapright m-icon-white"></i>
                            </a>
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="">
                                </li>
                                <li class="active" data-target="#myCarousel" data-slide-to="1">
                                </li>
                                <li class="" data-target="#myCarousel" data-slide-to="2">
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                        <div class="col-md-3 portlet-body-index-col-md">
                            <a href="#" style="">
                                <img class="defaultImage commodity-image">
                            </a>
                            <div class="text-center commodity-title">
                                雅培（Abbott）奶粉Eleva菁智有机幼儿配方奶粉
                                <br>
                                <p class="commodity-price">￥188.00<p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="portlet_tab34">
                    22
                </div>
                <div class="tab-pane" id="portlet_tab35">
                    11
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 3F end -->