@{
    ViewBag.Title = "首页";
}
<div class="jumbotron">
    <h1>WebApi</h1>
    <p class="lead"></p>
    <p><a href="/api/WebApi" class="btn btn-primary btn-lg">点击 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>商城</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">点击 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>经销商</h2>
        <p></p>
        <p><a class="btn btn-default" href="/Home/supplierBatchShipments">点击 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>供应商</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">点击 &raquo;</a></p>
    </div>
</div>