<div class="row footer-row1" style="height:100px;">
    <div style="float:left;">
        <a href="#" style="">
            <img data-holder-rendered="true" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU0ZWM1OGRlNTMgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTRlYzU4ZGU1MyI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI1OSIgeT0iOTQuOCI+MTcxeDE4MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" style="height: 100px; width:228px; display: block;" data-src="holder.js/100%x120" alt="100%x12">
        </a>
    </div>
    <div style="height:100%;background-color:#FFECEC;font-size:20px;">
        XX系统
    </div>
    <div style="clear:both;"></div>
</div>
<div class="col-md-2 col-md-padding0">
    <ul class="nav nav-sidebar" id="menuSl" style="max-width:228px;">
        <li>@Html.ActionLink("订单管理", "Index", "Home")</li>
        <li class="active">@Html.ActionLink("批量发货", "supplierBatchShipments", "Home")</li>
        <li>@Html.ActionLink("投诉处理", "supplierComplaint", "Home")</li>
        <li>@Html.ActionLink("对账明细", "supplierCheckAccount", "Home")</li>
    </ul>
</div>
<div class="col-md-10" style="background-color:#FFF;">

    <div class="container">
        <div class="row row-margin0" style="padding:15px;">
            <form>
                <div class="form-group" style="max-width:80%">
                    <label for="inputPassword" class="col-sm-2 control-label padding-txt">Excel上传:</label>
                    <div class="col-sm-10">
                        <input type="file">
                    </div>
                </div>
                <div class="form-actions" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">上传并保存</button>
                            <button type="button" class="btn default">取消</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--列表-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>订单名称</th>
                <th>订单编号</th>
                <th>发货员</th>
                <th>发货状态</th>
                <th>全部状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="400">
                    <div class="col-xs-6 col-md-6">
                        123
                    </div>
                    <div class="col-md-6">12</div>
                </td>
                <td>X10</td>
                <td>张三</td>
                <td>660.0（元）</td>
                <td>已发货(详情)</td>
                <td>查看</td>
            </tr>

            <!---row for begin-->

            <tr>
                <td width="400">
                    <div class="col-xs-6 col-md-6">

                    </div>
                    <div class="col-md-6">
                        123
                        入手不后悔~~~
                    </div>
                </td>
                <td>X10</td>
                <td>张三</td>
                <td>660.0（元）</td>
                <td>已发货(详情)</td>
                <td>查看</td>
            </tr>
            <tr>
                <td width="400">
                    <div class="col-xs-6 col-md-6">

                    </div>
                    <div class="col-md-6">
                        123
                        入手不后悔~~~
                    </div>
                </td>
                <td>X10</td>
                <td>张三</td>
                <td>660.0（元）</td>
                <td>已发货(详情)</td>
                <td>查看</td>
            </tr>
            <tr>
                <td width="400">
                    <div class="col-xs-6 col-md-6">

                    </div>
                    <div class="col-md-6">
                        3
                        入手不后悔~~~
                    </div>
                </td>
                <td>X10</td>
                <td>张三</td>
                <td>660.0（元）</td>
                <td>已发货(详情)</td>
                <td>查看</td>
            </tr>
            <tr>
                <td width="400">
                    <div class="col-xs-6 col-md-6">

                    </div>
                    <div class="col-md-6">
                        123
                        入手不后悔~~~
                    </div>
                </td>
                <td>X10</td>
                <td>张三</td>
                <td>660.0（元）</td>
                <td>已发货(详情)</td>
                <td>查看</td>
            </tr>
            <tr>
                <td width="400">
                    <div class="col-xs-6 col-md-6">

                    </div>
                    <div class="col-md-6">
                        123
                        入手不后悔~~~
                    </div>
                </td>
                <td>X10</td>
                <td>张三</td>
                <td>660.0（元）</td>
                <td>已发货(详情)</td>
                <td>查看</td>
            </tr>
            <tr>
                <td width="400">
                    <div class="col-xs-6 col-md-6">

                    </div>
                    <div class="col-md-6">
                        123
                        入手不后悔~~~
                    </div>
                </td>
                <td>X10</td>
                <td>张三</td>
                <td>660.0（元）</td>
                <td>已发货(详情)</td>
                <td>查看</td>
            </tr>
            <tr>
                <td width="400">
                    <div class="col-xs-6 col-md-6">

                    </div>
                    <div class="col-md-6">
                        23
                        入手不后悔~~~
                    </div>
                </td>
                <td>X10</td>
                <td>张三</td>
                <td>660.0（元）</td>
                <td>已发货(详情)</td>
                <td>查看</td>
            </tr>
            <!---row for end-->
        </tbody>
    </table>
</div>
